.table>:not(:last-child)>:last-child>* {
    border-bottom: unset;
}

.table>:not(caption)>*>* {
    padding: .75rem .75rem;
}

.content {
    font-size: 14px;
    overflow-x: auto;
    .table-light {
        color: #7e7e7e;
    }
    tbody {
        font-size: 12px;
    }
}