<div class="box">
    <div class="head pb-2">
        <h6>Referrer</h6>
    </div>
    <div class="content">
        <table class="table">
            <thead>
                <tr class="table-light">
                    <th scope="col">LOCATION</th>
                    <th scope="col">VIEWS</th>
                    <th scope="col">SALES</th>
                    <th scope="col">CONVERSION</th>
                    <th scope="col">TOTAL</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>google.com</td>
                    <td>3746</td>
                    <td>752</td>
                    <td>43%</td>
                    <td>$19,291</td>
                </tr>
                <tr>
                    <td>google.com</td>
                    <td>3746</td>
                    <td>752</td>
                    <td>43%</td>
                    <td>$19,291</td>
                </tr>
                <tr>
                    <td>google.com</td>
                    <td>3746</td>
                    <td>752</td>
                    <td>43%</td>
                    <td>$19,291</td>
                </tr>
                <tr>
                    <td>google.com</td>
                    <td>3746</td>
                    <td>752</td>
                    <td>43%</td>
                    <td>$19,291</td>
                </tr>
                <tr>
                    <td>google.com</td>
                    <td>3746</td>
                    <td>752</td>
                    <td>43%</td>
                    <td>$19,291</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>