<div class="box" style="height:unset; padding-top: 30px;">
    <div class="content">
        <div class="pic">
            <img class="face" src="assets/Jana Navakova.jpg" alt="">
            <div class="edit">
                <img class="pencil" src="assets/icons/edit.png" alt="">
            </div>
        </div>
        <div class="name mt-3">
            <h5>Nick Herasimenka</h5>
            <h6>United States</h6>
        </div>
        <div class="social mt-4 pb-3">
            <a href="" class="d-block"><img src="assets/icons/instagram.png" alt=""></a>
            <a href="" class="d-block"><img src="assets/icons/twitter.png" alt=""></a>
            <a href="" class="d-block"><img src="assets/icons/facebook.png" alt=""></a>
            <a href="" class="d-block"><img src="assets/icons/mail.png" alt=""></a>
        </div>
    </div>

    <div class="head align-items-center pt-4 pb-4">
        <h6 class="mb-0">Our Users</h6>
        <a href="#" class="d-block">
            <img src="assets/icons/dots.png" alt="">
        </a>
    </div>

    <div class="content">
        <div class="userset pb-3">
            <img src="assets/Drew James.png" alt="">
            <h5 class="pt-2">Drew James</h5>
            <h6>United States &nbsp; +871.567.4877</h6>
        </div>
        <div class="userset pb-3">
            <img src="assets/Drew James.png" alt="">
            <h5 class="pt-2">Drew James</h5>
            <h6>United States &nbsp; +871.567.4877</h6>
        </div>
        <div class="userset pb-3">
            <img src="assets/Drew James.png" alt="">
            <h5 class="pt-2">Drew James</h5>
            <h6>United States &nbsp; +871.567.4877</h6>
        </div>
    </div>
</div>