<div class="main">
    <div class="left" [ngClass]="{'left2':toggled == true}">
        <app-sidebar></app-sidebar>
        <div class="menu" (click)="toggle()">
            <img *ngIf="toggled" src="assets/icons/menu.png" alt="">
            <img *ngIf="!toggled" class="d-none d-lg-flex pt-1" src="assets/icons/menu.png" alt="">
            <img class="close d-block d-lg-none" *ngIf="!toggled" src="assets/icons/close.svg" alt="">
        </div>
    </div>
    <div class="right" [ngClass]="{'right2':toggled == true}">
        <div class="white-bg">
            <app-topbar></app-topbar>
            <router-outlet (activate)="width()"></router-outlet>
        </div>
    </div>
</div>