<div class="box" style="height:unset">
    <div class="head align-items-center pb-4">
        <h6 class="mb-0">Product Video</h6>
        <a href="#" class="d-block">
            <img src="assets/icons/dots.png" alt="">
        </a>
    </div>
    <div class="video pb-3">
        <a class="d-block" href="https://www.youtube.com/watch?v=Oy6hk6Y7VHQ&ab_channel=Hexnode" target="_blank">
            <img class="w-100" src="assets/Video tumbnail.png" alt="">
            <div class="play">
                <img src="assets/icons/play.png" alt="">
            </div>
        </a>
    </div>
</div>