.logo {
    font-weight: 700;
    font-size: 20px;
    color: white;
    text-decoration: none;
    background-color: var(--bg-dark2);
    display: block;
    border-bottom: 3px solid var(--bg-dark);
    letter-spacing: 3px;
}

.links {
    background-color: var(--bg-dark);
    li {
        list-style: none;
        a {
            display: block;
            text-decoration: none;
            color: white;
            border-left: 3px solid var(--bg-dark);
            border-bottom: 1px solid var(--bg-dark);
            cursor: pointer;
            user-select: none;
            .normal {
                display: unset;
            }
            .selected {
                display: none;
            }
            .chip {
                float: right;
                background-color: var(--notify);
                font-weight: 500;
                font-size: 11px;
                border-radius: 20px;
            }
        }
        a:hover {
            background-color: var(--bg-dark2);
            border-left: 3px solid var(--bg-dark2);
        }
        .active {
            border-left: 3px solid var(--button) !important;
            background-color: var(--bg-dark2);
            .normal {
                display: none;
            }
            .selected {
                display: unset;
            }
        }
    }
}