<div class="topbar">
    <div class="searchbox">
        <img src="assets/icons/search.png" alt="">
        <input type="text" placeholder="Search transactions, invoices or help">
    </div>
    <div class="d-flex align-items-center justify-content-end">
        <div class="notification">
            <img src="assets/icons/bell.png" alt="">
            <div class="dot"></div>
        </div>
        <div class="dropdown namebox pe-4">
            <div class="buttonSection" id="namebox" data-bs-toggle="dropdown" aria-expanded="false">
                <h6 class="mb-0 pe-2">John Doe</h6>
                <img class="icon pe-2" src="assets/icons/drop-down.png" alt="">
                <img class="profile" src="assets/Lavid Emes.png" alt="">
            </div>
            <ul class="dropdown-menu" aria-labelledby="namebox">
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li><a class="dropdown-item" href="#">Logout</a></li>
            </ul>
        </div>
    </div>
</div>