.topbar {
    height: 62px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 75px;
    width: 100%;
    .searchbox {
        position: relative;
        input {
            outline: none;
            border: none;
            width: 340px;
            padding: 10px 10px 10px 45px;
            color: #000;
            font-size: 14px;
        }
        input::placeholder {
            color: #7e7e7e;
            font-weight: 400;
        }
        img {
            position: absolute;
            top: 13px;
            left: 13px;
        }
    }
    .notification {
        position: relative;
        padding-right: 25px;
        margin-right: 25px;
        cursor: pointer;
        .dot {
            width: 10px;
            height: 10px;
            background-color: var(--notify);
            border-radius: 10px;
            border: 2px solid #fff;
            position: absolute;
            top: 0;
            right: 24px;
        }
        border-right: 1px solid var(--text-light);
    }
    .namebox {
        .buttonSection {
            display: flex;
            align-items: center;
            color: var(--bg-dark);
            cursor: pointer;
            h6 {
                font-size: 14px;
                font-weight: 400;
            }
            .profile {
                width: 40px;
                height: 40px;
                object-fit: cover;
                border-radius: 40px;
            }
        }
    }
}

@media (max-width:767.98px) {
    .topbar {
        height: unset;
        padding-top: 8px;
        padding-left: 0px;
        flex-wrap: wrap-reverse;
        display: flex;
        justify-content: flex-end;
        .searchbox {
            width: 100%;
            border-top: 1px solid #eaeaea;
            input {
                width: 100%;
                text-align: center;
            }
        }
        .namebox {
            padding-bottom: 8px;
            .profile {
                width: 35px;
                height: 35px;
                object-fit: cover;
                border-radius: 40px;
            }
        }
        .notification {
            margin-bottom: 8px;
        }
    }
}