<div class="main-set">
    <div class="head">
        <h2>Overview</h2>
        <button class="plus-btn">Add Funds <img src="assets/icons/add.png" alt=""></button>
    </div>
</div>

<div class="main-set pt-0">
    <div class="row">
        <div class="col-xl-8">
            <div class="row">
                <div class="col-md-6 p-3 pt-0">
                    <app-statistics></app-statistics>
                </div>
                <div class="col-md-6 p-3 pt-0">
                    <app-sales></app-sales>
                </div>
                <div class="col-12 p-3">
                    <app-referrer></app-referrer>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="row">
                <div class="col-12 col-md-6 col-xl-12 p-3 pt-0">
                    <app-profile></app-profile>
                </div>
                <div class="col-12 col-md-6 col-xl-12 p-3">
                    <app-video></app-video>
                </div>
            </div>
        </div>
    </div>
</div>